<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2> Information about contract</h2>
    <div class="container" style="padding:20px; border :solid medium black; font-size:14pt">
        @RenderBody()
    </div>
</body>
</html>
